@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Work+Sans:wght@300&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url("../public/luke-chesser-3rWagdKBF7U-unsplash.jpg");
  background-size: cover;
  background-position: center;
} 

.fontcolor{
  color: rgb(44, 44, 136);
}

.user-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #221d1d;
  margin-bottom:4px;
  border: 1px solid #c6c6c6;
  border-radius: 0.25rem;
  background: #E8E8E8;
  max-height: 9vh;
  font-family:'cursive';
  color:'#611947'
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.user-list-item:hover {
  background: #39a896;
  color: white;
}

.buttonclass:hover{
  background: rgb(87, 85, 85);
  color: white;
}

::-webkit-scrollbar {
width: 0px;
}

::-webkit-scrollbar-thumb {
background: Orgba(136, 136, 136, 0.281);
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.fontfam{
  font-family: 'Josefin sans';
}

.messages{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.iconcolor{
  color:red;
}